body {
    padding: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-image: url(pattern.gif);
    background-size: 1500px;
}
#funny{
    grid-column: 1/span 2; text-align: center; background-color: aqua;
    display: grid; gap: .75rem; padding: 1rem; grid-template-columns: repeat(4, 1fr);
}
#funny button {
    padding: .1rem;
}
#vol{
    grid-column: 3; text-align: center; background-color: blue;
    display: grid; grid-template-columns: 1fr 1fr; padding: 1rem; gap: 1rem;
}
#vol button {
    padding: 1rem;
}
#ambient{
    grid-column: 1; text-align: center; display: grid; grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3, 1fr); padding: 1rem; gap: 1rem ; background-color: blueviolet;
}
#human{
    grid-column: 2/span 3; text-align: center; background-color: navy;
    display: grid; gap: .75rem; padding: 1rem; grid-template-columns: repeat(3, 1fr);
}

#human button {padding: 0.1rem;}

#funny button img,
#vol button img,
#ambient button img,
#human button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}